* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #3498db, #2b3d52);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #497081;
}

svg.define {
  display: none;
}

svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}

.todo {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 500px;
  box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.todo__header {
  height: 100px;
}

.todo__menu {
  background-color: #2b3d52;
  color: #e5e5e5;
  height: 40px;
  position: relative;
}

.todo__items-container {
  padding: 4px 0;
  margin: 0 30px;
}

.todo__item {
  display: flex;
  margin: 25px 0;
  flex-direction: row;
  flex-wrap: nowrap;
}

.todo__toggle {
  height: 16px;
  flex: 0 0 16px;
  border: 1px solid #497081;
  border-radius: 50%;
  cursor: pointer;
}

.todo__text {
  margin-left: 5px;
  font-size: 15px;
  width: 90%;
  word-wrap: break-word;
}

.todo__delete {
  margin-left: auto;
  cursor: pointer;
  height: 16px;
  flex: 0 0 16px;
}

.todo__add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  margin: 0 30px;
  border-top: 1px solid #d4dce0;
}

.todo__create {
  height: 20px;
  flex: 0 0 20px;
  margin: 0 10px;
  cursor: pointer;
}

.todo__input {
  width: 100%;
  border: 2px solid #2b3d52;
  border-radius: 5px;
}

.todo__menu {
  display: flex;

  justify-content: center;
  align-items: center;
}

.todo__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* center elements vertically */
  justify-content: center;
  position: relative;
  top: 20%;
}

.todo__weekday {
  font-weight: bold;
}
